h1, h2 {
    font-family: Arial, Helvetica, sans-serif ;
}

div div div{
    display: flexbox;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px; 
    background-color: rgba(165, 225, 145, 0.5);
}